body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: midnightblue;
}

div.card {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left
}

div.left {
  text-align: left;
}

div.right {
  text-align: left;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@media (max-height: 600) {
  div.card {
    display: block;
    width: 100%;
    height: 500px
  }
  div.left {
    float: none
  }
  div.right {
    float: none;
  }
}