<%- include('partials/header') %>

<h1>Compose</h1>

<form action="/compose" method="POST">
  <div class="form-group">
    <label for="postTitle" class="form-label">Title</label>
    <input
      type="text"
      name="postTitle"
      class="form-control"
      id="postTitle"
      aria-describedby="postTitle"
      required
    />
    <label for="Post" class="form-label">Post</label>
    <textarea
      class="form-control"
      rows="5"
      id="postBody"
      name="postBody"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer') %>
